body, html {
    font-family: "Roboto", sans-serif;
    background: linear-gradient(to bottom, #87e0fd 0%,#53cbf1 40%,red 100%);
    height: 100%;
  }

.logo {
  background-image: url('images/spongebob.jpeg');
  width: 500px;
  height: 500px;
  background-repeat: no-repeat;
  background-size: contain;
}

.active {
  color: pink;
}